<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<form th:action="@{/edit}" th:object="${user}" method="post">
    <div>
        <input type="hidden" th:field="*{id}" />
    </div>
    <div>
        <label for="username">Username</label>
        <input type="text" id="username" th:field="*{username}" required autofocus>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" th:field="*{password}" required>
    </div>
    <div>
        <label for="fullName">Full Name</label>
        <input type="text" id="fullName" th:field="*{fullName}" required>
    </div>
    <button type="submit">Edit</button>

</form>
</body>
</html>